---
name: "Start Release"
"on":
  workflow_dispatch:
    inputs:
      version:
        description: Version to increment
        required: true
        default: '(auto)'
        type: choice
        options:
          - '(auto)'
          - patch
          - minor
          - major

env:
  CARGO_INCREMENTAL: 0

jobs:
  make-release-pr:
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: chainguard-dev/actions/setup-gitsign@main
      - uses: dtolnay/rust-toolchain@stable
      - uses: r7kamura/rust-problem-matchers@v1
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-semver-checks,cargo-release
      - name: Checking what version to bump
        id: version
        run: |-
          set +e
          cargo semver-checks check-release --workspace
          RESULT=$?
          set -e

          if [ $RESULT -eq 0 ]; then
            if [ "${{ inputs.version }}" = "(auto)" ]; then
              echo "VERSION=patch" >> $GITHUB_OUTPUT
            else
              echo "VERSION=${{ inputs.version }}" >> $GITHUB_OUTPUT
            fi
          else
            echo "VERSION=major" >> $GITHUB_OUTPUT
          fi
      - uses: cargo-bins/release-pr@v2
        with:
          # yamllint disable rule:line-length
          pr-title: "chore(release): <%= crates.length === 1 ? crates[0].name : '' %> v<%= version.actual %>"
          # yamllint enable rule:line-length
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ steps.version.outputs.VERSION }}
          crate-release-all: true
